.DS_Store
*.iml
*.iup
/.classpath
/.idea
/.project
/torture.tiger
/bin
/lib/output
/logs
/out
/res/output
/res/Tiger.tokens
/src/lexical/TigerLexer.java
/src/syntactic/TigerParser.java
/lib/graphviz-2.40.1
/timer
