.DS_Store
*.iml
*.iup
*.swp
/.classpath
/.idea
/.project
/torture.tiger
/asm
/bin
/lib/output
/log
/out
/res/output
/res/Tiger.tokens
/src/lexical/TigerLexer.java
/src/syntactic/TigerParser.java
/lib/graphviz-2.40.1
/timer
